<button [matMenuTriggerFor]="saveMenu" color="primary" mat-icon-button>
  <mat-icon>backup</mat-icon>
</button>
<input
  #jsonInput
  (change)="load($event)"
  [hidden]="true"
  type="file"
/>
<mat-menu #saveMenu="matMenu">
  <button (click)="jsonInput.click()" mat-menu-item>
    <mat-icon>file_upload</mat-icon>
    <span [innerHTML]="'JSON_SAVER.LOAD' | translate"></span>
  </button>
  <button (click)="save()" mat-menu-item>
    <mat-icon>file_download</mat-icon>
    <span [innerHTML]="'JSON_SAVER.SAVE' | translate"></span>
  </button>
</mat-menu>
