<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>title</th>
    <td mat-cell *matCellDef="let element">{{element.title}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let element columns: displayedColumns;" [routerLink]="'/stories/story/' + element.id"></tr>
</table>

<input
  #jsonInput
  (change)="load($event)"
  [hidden]="true"
  type="file"
/>
<button mat-button (click)="jsonInput.click()">Load</button>
<button mat-button (click)="save()">Save</button>
